flask
flask-socketio
eventlet
netifaces>=0.10.9
scapy>=2.4.1
joblib
numpy
pandas
scikit-learn
eventlet
flask
flask-socketio
joblib
netifaces
numpy
pandas
scapy
scapy-python3
scikit-learn
python-docx
google-genai
